*, *::before, *::after { box-sizing: border-box; }
body {
  margin: 0;
  background-color: #f5f4f0;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 24px 24px;
}

#root {
  position: relative;
  z-index: 1;
}
